body {
    background-color: #1f2225;
}

a {
    color: rgba(255, 255, 255, 0.5);
}

a:hover {
    color: rgba(255, 255, 255, 0.8);
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr-custom{
    border-top: 1px solid rgba(43, 47, 51, 0.95);
}

/**
================= SOCIAL BUTTON =====================
*/

.social-button {
    background-color: #2b2f33;
    width: 100%;
    min-height: 60px;
  
    color: #D1D1D1;
    font-size: 1.5em;
  
    margin-top: 5px;
  
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
  }
  
  .social-button:hover {
    /*box-shadow: 0 0 8px 3px rgba(209, 209, 198, 0.2);*/
    transform: translate(0px, -3px);
  }
  
  .social-button:focus {
    outline-color: #D1D1D1;
  }
  
  .social-button:disabled {
    background-color: #2b2f3340;
    transform: none;
    color: #1d7026;
  }